.mb-list{
  height: 100%;
  display: flex;
  flex-direction: column;
}
.mb-search{
//@apply pt-2;
}
.mb-search .n-form-item .n-form-item-feedback-wrapper{
  min-height: 0px;
}
.mb-toolbar{
@apply py-2;
}
.mb-table{
@apply pb-2 box-border;
  flex: 1;
}